.about__container {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  margin-top: 2rem;
}

.about__left {
  width: 80%;
  background: url("../../images/bg-tablet-pattern.svg") no-repeat;
  background-position: right -16rem bottom 10rem;
}

.about__left_h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
