.footer {
  /* height: 90px; */
  /* width: 100%; */
  background: hsl(12, 88%, 59%);
  padding: 3rem 7rem;
  color: #fff;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  width: 45%;
  font-size: 2rem;
}

.footer button {
  width: 150px;
  height: 50px;
  background: white;
  padding: 0.7rem 1.5rem;
  border: none;
  color: hsl(12, 88%, 59%);
  border-radius: 30px;
  cursor: pointer;
}
